html {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, .closer, .download, .nav-grid, #saying {
    text-align: center;
}

h1 {
    color: #296498;
    font-size: 1.5em;
    padding: 10px 0 10px 0;
    margin: 0px
}

.header-grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 120px 60px;
}

#saying {
    font-size: 14px;
    font-style: italic;
    margin: 10px 0 30px 0;
    text-align: center;
}

h2 {
    color: #1c4966;
    font-size: 1.10em;
}

h3 {
    color: #0e2433;
    font-size: 1.07em;
}

th {
    color: #0e2433;
    margin-bottom: 10px;
}

.download {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dl-text {
    font-size: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.nav-grid {
    display: grid;
    padding: 5px 0 5px 0;
    grid-template-columns: 150px 150px;
    justify-content: center;
    background-color: #1c4a7e;
}

.nav-item a {
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    text-decoration-color: #eeeeee;
    letter-spacing: 0.5px;
}

ul#social-list {
    list-style-type: none;
}

ul#social-list li {
    padding-left: 30px;
}

#youtube {
    background-image: url("../images/youtube-logo.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: -3px;
}

#twitter {
    background-image: url("../images/twitter-logo.png");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left;
}

#twitch {
    background-image: url("../images/twitch-logo.png");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left;
}