/* Blue Colour Palette
https://colorswall.com/palette/1321/

Light
#45b6fe
#3792cb
#296d98
#1c4966
#0e2433
Dark
*/

/* Globals */

html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

li {
    text-align: left;
}

h2 {
    color: #1c4966;
    font-size: 1.10em;
    margin: 20px 0 5px 0;
}

h3 {
    color: #0e2433;
    font-size: 1.07em;
}

a, .border-bot {
    color: #222222;
    font-variant: small-caps;
    text-decoration: none;
}

/* Header */

h1 {
    color: #296498;
    font-size: 1.5em;
    padding: 10px 0 10px 0;
    margin: 0px
}

.header-grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 120px 65px;
}

.prof-pic {
    max-height: 55px;
    overflow: hidden;
}

.prof-pic img {
    height: 100px;
}

.nav-grid {
    display: grid;
    padding: 5px 0 5px 0;
    grid-template-columns: 150px 150px;
    justify-content: center;
    background-color: #1c4a7e;
}

.nav-grid * {
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.5px;
    text-decoration-color: #dddddd;
}

.page-focus {
    font-weight: bold;
    color: #eeeeee;
}

#saying {
    font-size: 14px;
    font-style: italic;
    margin: 10px 0 30px 0;
    text-align: center;
}

/* Sidebar - Navigation */

.sidebar {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.sidebar nav{
    background-color: #eeeeee;
    border: 2px solid #296d98;
    border-left: 0;
    border-right: 0;
    padding-right: 20px;
    grid-row-start: 1;
    grid-row-end: 4;
    overflow: hidden;
}

.sidebar nav h2{
    overflow: hidden;
    margin-left: 10px;
    font-size: 16px;
}

.sidebar li{
    list-style-type: none;
    text-indent: -25px;
    font-size: 14px;
}

.sidebar li:before{
    content: "-";
    color: #222222;
    margin-right: 10px;
}

/* Grid Globals */

figcaption {
    color: #0e2433;
    font-size: 16px;
    margin-bottom: 10px;
}

.border-bot {
    border-bottom: 1px solid #296d98;
    margin: auto;
    margin-bottom: 5px;
    width: 40%;
}

/* YouTube Videos */

.video-grid {
    display: inline-grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-column-gap: 20px;
}

.video-grid figure {
    margin-left: 10px;
    margin-right: 10px;
}

.border-bot {
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 3px;
    grid-template-columns: 20px 32px;
}

.border-bot img {
    top: -0.6px;
    position: relative;
}

.border-bot a {
    color: #888888;
}

.video-grid iframe {
    box-shadow: 3px 3px 5px 1px #cccccc;
}

/* Cat Gifs */

.cat-gifs {
    display: inline-grid;
    grid-template-columns: 240px 240px 240px;
    justify-content: center;
    margin: 0 10px;
}

figure img {
    margin-left: -20px;
}

/* Social Media */

footer {
    margin-top: 30px;
}

.social-list {
    display: inline-grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 50px;
}

.social-list div * {
    vertical-align: middle;
    text-align: left;
}

.social-list img {
    margin: -2px 5px 0 0;
}

.social-list p {
    text-align: right;
}